:root {
    --lightpink: #f0dddc;
    --pink: #d9aeaa;
    --yellow: #c79b2c;
    --rust: #A04B28;
    --darkblue: #2B2E39;
    --green: #adbdb0;
}

body {
    font-family: 'Cabin', sans-serif;
    color: var(--darkblue);
    background-color: var(--pink);
}

/* Backgrounds */

.bg-yellow {
    background: var(--yellow);
}

.bg-lightpink {
    background-color: var(--lightpink);
}

.bg-pink {
    background-color: var(--pink);
}

.bg-rust {
    background-color: var(--rust);
}

.bg-darkblue {
    background-color: var(--darkblue);
}

.bg-green {
    background-color: var(--green);
}

/* Buttons */

.btn-custom {
    background-color: var(--lightpink);
    border-radius: 0;
    color: var(--rust);
}

.btn-pink {
    background-color: var(--pink);
    border-radius: 0;
    color: var(--rust);
}

.btn a {
    color: var(--rust);
    text-decoration: none;
}

.btn a:focus {
    color: var(--rust);
    text-decoration: none;
}

.icon {
    color: var(--pink);
}

.bi-arrow-up {
    color: var(--rust);
}

/* Navbar */

.logo {
    font-family: 'Tangerine', cursive;
    color: var(--rust) !important;
    font-size: 2em;
    font-weight: 600;
}

.navbar-toggler {
    border: transparent;
}

.navbar-toggler:focus {
    outline: none;
}

/* About page */

.about p {
    color: var(--pink);
}

/* Contact page */

.contact h3, h4, li {
    color: var(--rust);
}

.contact-form {
    color: var(--pink);
}

.input {
    border: none !important;
    border-bottom: 1px solid var(--pink) !important;
    background-color: transparent;
    border-radius: 0 !important;
}

.input-text {
    border: 1px solid var(--pink) !important;
}

.input:focus {
    border: 1px solid transparent !important;
    background-color: transparent !important;
    box-shadow: none;
}

.input:focus-within {
    border-bottom: 1px solid var(--pink) !important;
}

.input-text:focus-within {
    border: 1px solid var(--pink) !important;
}

/* Footer */

.footer-link {
    color: var(--lightpink);
}

.footer-link:hover {
    text-decoration: none;
    color: var(--pink);
}

footer h5 {
    color: var(--lightpink);
    font-size: medium;
}

footer li, p {
    color: var(--lightpink);
}