:root {
    --lightpink: #f0dddc;
    --pink: #d9aeaa;
    --yellow: #c79b2c;
    --rust: #A04B28;
    --darkblue: #2B2E39;
    --green: #adbdb0;
}

body {
    font-family: 'Cabin', sans-serif;
    color: var(--darkblue);
    background-color: var(--pink);
}

.bg-yellow {
    background: var(--yellow);
}

.bg-lightpink {
    background-color: var(--lightpink);
}

.bg-pink {
    background-color: var(--pink);
}

.bg-rust {
    background-color: var(--rust);
}

.bg-darkblue {
    background-color: var(--darkblue);
}

.bg-green {
    background-color: var(--green);
}

.logo {
    font-family: 'Tangerine', cursive;
    color: var(--rust) !important;
    font-size: 3rem;
    font-weight: 600;
}

.navbar-toggler {
    border: transparent;
}

.btn-custom {
    background-color: var(--lightpink);
    border-radius: 0;
    color: var(--rust);
}

.btn-up {
    background-color: var(--pink);
    border-radius: 0;
}

.icon {
    color: var(--pink);
}

.footer-link {
    color: var(--lightpink);
}

.footer-link:hover {
    text-decoration: none;
    color: var(--pink);
}

footer h5 {
    color: var(--lightpink);
    font-size: medium;
}

footer li, p {
    color: var(--lightpink);
}

.bi-arrow-up {
    color: var(--rust);
}

/* .image {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.image-1{
    background-image: url(/img/tom-crew-NLcLjLNUJbY-unsplash.jpg);
}

.image-2{
    background-image: url(/img/tom-crew-oiZAQvxTcYQ-unsplash.jpg);
}
.image-3{
    background-image: url(/img/tom-crew-YA2E3d7a9Wo-unsplash.jpg);
}

.image-5{
    background-image: url(/img/taylor-heery-ZSgWcW70cTs-unsplash.jpg);
    height: 50vh;
} */

.about p{
    color: var(--pink);
}